@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

/*Solution*/

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  padding: 8px 16px;

}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  /*Added solution*/
  flex:1;
  justify-content: center;
}

li a {
  text-decoration: none;
  color:#666;
}

.header,
.footer {
  height: 20px;

  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;/*No hace falta*/
}

.footer {
  background-color: #eeeeee;
}

ul {
  margin: 0;/*Added solution*/
  padding: 0;
  display: flex;
  list-style: none;
  gap: 16px;
}





