* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}

/* SOLUTION */

.container {
  display: grid;
  /* No necesario grid-template-rows: 2fr 1f r 16fr 1fr;  */
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

/* Lo comentado es mi solución inicial */

.header {
  display: grid;
  grid-template-columns: 1fr 2fr; /* No lo alinea con la grid padre */
  /* No necesario grid-row: 1 / 2; */
  grid-column: 1 / 3;
  /* No necesario align-items: center; */
}

.logo {
  justify-self: start;
}

.menu {
  /* margin-right: 50px; */
  align-self: center;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* No necesario justify-items: end; */
  list-style-type: none;
}

.sidebar {
  grid-row: 2 / 4;
  /* No necesario grid-column: 1 / 2; */
  display: grid;
  /* No necesario sgrid-template-rows: repeat(4, 1fr); */
  gap: 50px;
}

.photo,
.side-content {
  /* place-content: center; */
  display: grid;
  align-items: center;
}

/* No necesario */
/* .nav { */
  /* grid-row: 2 / 3; */
  /* grid-column: 2 / 3; */
  /* place-content: center; */
/* } */

.nav ul {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}

.article {
  /* No necesario */
  /* grid-row: 3 / 4; */
  /* grid-column: 2 / 3; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article .card {
  height: 200px;
  /* No necesario display: grid; */
  /* No necesario grid-template-rows: 1fr 5fr; */
}

.footer {
  /* No necesario grid-row: 4 / 5; */
  grid-column: 1 / 3;
}

/* Aplicaba otra lógica*/

.card p {
  padding: 5px;
}

/* 

Self Check
The container element has two columns - OK
The container's second column is 4 times larger than the first column - WRR Ok.
The container element has a gap of 4px - WRR Ok - A Ojo.
The header element has two columns - OK - Con subgrid hereda las 2 del padre.
The ul inside the menu element contains another grid - OK.
The ul inside the nav element contains another grid - OK.
The sidebar element has a gap of 50px - OK - A ojo clavado.
The text elements in the sidebar are centered with grid - Ok.
The article element should set grid columns using repeat along with the auto-fit and minmax properties - OK.
The article columns should have a minimum value of 250px and a maximum of 1fr unit - WRR OK - A ojo casi.
The article element has a gap of 15px. WRR OK - A ojo casi.
The card elements inside the article container have a height of 200px - NO OK este no lo había contemplado.
The header and footer span across both columns - OK.
The sidebar only spans across the first column - OK.
The nav and article elements only span across the second column - OK.

*/